<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sp.letsvote">

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_gram"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="LetsVote">
            <intent-filter>
                <action android:name="com.sp.letsvote.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppThemeNoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VoterSignUp"
            android:label="Voter Registration">
            <intent-filter>
                <action android:name="com.example.sharadjha.slimshady.VoterLogin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VoterLogin"
            android:label="Voter Login" />
        <activity
            android:name=".VoterProfile"
            android:label="Voter Profile" />
        <activity
            android:name=".CandidateRegistration"
            android:label="Candidate Registration" />
        <activity android:name=".CandidateLogin" />
        <activity android:name=".SignUpPage" />
        <activity android:name=".CandidateList" />
        <activity android:name=".LoginPage" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".CandidateProfile" />
        <activity android:name=".AdminProfile" />

        <activity android:name=".ViewCandidates" />
        <activity android:name=".ViewVoters" />
        <activity android:name=".Result" />
    </application>

</manifest>